# Production Database Configuration used by docker-compose
DB_NAME=irp_db
DB_USER=irp_user
DB_PASSWORD=irp_pass
DB_SERVER=postgres
DB_PORT=5432

# Risk Modeler Configuration
RISK_MODELER_BASE_URL=https://api-euw1.rms-ppe.com
RISK_MODELER_API_KEY=apikey
RISK_MODELER_RESOURCE_GROUP_ID=your_group_id

# System Configuration
SYSTEM_USER=analyst
LOG_LEVEL=INFO